.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.m-right-70 {
    margin-right: 70px;
}

.m-right-10 {
    margin-right: 10px;
}